<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!-- you can get the connection string from the portal for ado.net-->
    <add name="DBCS" connectionString="Server=tcp:dc9d737hv5.database.windows.net,1433;Database=shavas400;User ID=shavas400@dc9d737hv5;Password=ekdantay12!@;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="JqueryBasics.EmployeeServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
    <services>
      <service name="JqueryBasics.EmployeeService">
        <endpoint address="" behaviorConfiguration="JqueryBasics.EmployeeServiceAspNetAjaxBehavior"
          binding="webHttpBinding" contract="JqueryBasics.EmployeeService" />
      </service>
    </services>
  </system.serviceModel>
</configuration>